/* Supplementary styling */

/* Increase font size of navbar items */
li.nav-item {
    font-size: 36px;
}


.img-thumbnail {
    object-fit: cover;
    width: 100%;
}

.bio p {
    font-size: 16px;
    font-family: 'Raleway', 'Roboto', sans-serif;
}

blockquote {
    font-family: 'Calligraffitti', 'Dancing Script', 'Roboto', cursive, serif;
    font-size: 32px;
    margin-top: 2%;
}

form label {
    font-size: 24px;
    font-family: 'Raleway', 'Roboto', sans-serif;
}

textarea {
    min-height: 400px;
    padding: 0;
}

.card-img-top {
    height: 200px;
    width: inherit;
    object-fit: cover;
}

a {
    font-size: 24px
}

#linkedinLogo {
    color: #2867B2;
}

#facebookLogo {
    color: #4267B2;
    background-color: white;
}

i {
    margin-right: 32px;
}