/* Supplementary styling */

/* Home */
/* Body Background */
body {
    background-image: url("./Images/double-bubble-dark.png");
}
/* Increase font size of navbar items */
li.nav-item {
    font-size: 36px;
}

/* Style thumbnail picture for home page */
.img-thumbnail {
    object-fit: cover;
    width: 100%;
}

/* Increase size of bio page font */
.bio p {
    font-size: 16px;
    font-family: 'Raleway', 'Roboto', sans-serif;
}

/* Add special font and resize blockquote */
blockquote {
    font-family: 'Calligraffitti', 'Dancing Script', 'Roboto', cursive, serif;
    font-size: 32px;
    margin-top: 2%;
}


/* Portfolio */
/* Control size of images on cards for portfolio */
.card-img-top {
    height: 200px;
    width: inherit;
    object-fit: cover;
}

/* Control size of highlight image */
#HLImage {
    height: 100%;
    width: inherit;
    object-fit: cover;
}


/* Contacts */
/* Increase font size and style for contact page*/
form label, a {
    font-size: 24px;
    font-family: 'Raleway', 'Roboto', sans-serif;
}

/* increase size of message area for contact page */
textarea {
    min-height: 400px;
    padding: 0;
}

/* Colors and styles for brand logos */
.linkedinLogo {
    color: #2867B2;
}

.facebookLogo {
    color: #4267B2;
    background-color: white;
}

i {
    margin-right: 32px;
}